/* Create form */
.create {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(217, 200, 200);
  }
  
  .create form {
    display: flex;
    flex-direction: column;
    background: transparent;
  }
  
  .create label {
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
  }
  
  .create input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background: transparent;color: black; */
    
    
  }
  
  .create button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create button:hover {
    background-color: #0056b3;
  }
.cre-tit-inp{
  margin-left: 12%;
}  

.tittle-note ,.description-note{
  background: transparent;
}
.cre-des-inp{
  height:40px;
  border-radius: 5px;
  border: none;
  width: 50%;
  padding-bottom:30px;
  padding: 5px;
  outline: none;

}
.description-note{
  display: flex;
  align-items: center;
  gap: 5px;
}
