.notes-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* background-color: red; */
  }
  .home-both{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    background:transparent;

  }
  .home-main{
    background-color:aqua;
    padding: 10px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
  
  .notes-homepage h2 ,.notes-homepage h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
    background: transparent;
  }
  
  .notes-homepage button {
    background-color:green;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
  
  .notes-homepage button:hover {
    background-color: rgb(2, 2, 139);
  }
  
  .notes-homepage a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size:20px;
    font-weight: 600;
  }
  
  .notes-homepage a:hover {
    text-decoration: underline;
  }
  .notes-homepage h1{
    text-transform: uppercase;
    background-color:rgb(5, 166, 166);
    padding: 5px;
    border-radius: 10px;
    color: white;
  }
  