.nav-both{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-logout{
    background-color:aqua;
    font-size: 20px;
    border: 1px solid black;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color:black;
}