/* Single note */
.note-singlenote-main {
    margin-top: 20px;
  }
  
  .single-note-main {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(217, 200, 200);
  }
  
  .s-notes {
    margin-top: 10px;
    background-color: transparent;
  }
  
  .singlenote-tittle {
    font-weight: bold;
    background-color: transparent;
  }
  
  .singlenote-description {
    margin-top: 5px;
    color: #666;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  .note-singlenote-main .problem {
    color: red;
    margin-top: 10px;
  }
  .single-but-del{
    background-color: rgb(104, 3, 3);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .single-but-update{
    background-color:green;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    
  }