/* Update form */
.update-note {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(217, 200, 200);
  }
  
  .update-note form {
    display: flex;
    flex-direction: column;
    background: transparent;

  }
  .update-note h2{
    background: transparent;
  }
  
  .update-note label {
    margin-bottom: 5px;
    font-weight: bold;
    background: transparent;
  }
  
  .update-note input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .update-note button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-note button:hover {
    background-color: #0056b3;
  }
  .up-ti-in{
    height:40px;
    border-radius: 5px;
    border: none;
    width: 50%;
    padding-bottom:30px;
    background-color: white;
    padding: 5px;
    outline: none;
  }
  .update-tittle , .update-description{
    background: transparent;
  }
  .update-description{
    display: flex;
    align-items: center;
    gap: 5px;
}
.up-de-in{
  margin-left: 15%;
  background-color: rgb(255, 255, 255);
  
}